@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}



<h3 class="container"> Kategori Güncelleme Sayfası</h3>
<form class="container" method="post">
    <label>Kategori Adı</label>
    @Html.HiddenFor(x=>x.CategoryID)
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br /> <br />
    <label>Kategori Açıklaması</label>
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br /> <br />
   
    <br />
    <button class="btn btn-outline-success">Verileri Güncelle</button>
</form>

