@model EntityLayer.Concrete.Message

@{
    ViewBag.Title = "GetInboxDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<br />
@Html.HiddenFor(x => x.MessageID)

<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            @Html.Action("WriterMessageMenu", "WriterPanelMessage")
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Mesaj İçeriği</h3>

                        <div class="card-tools">
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5>Konu: @Html.DisplayTextFor(x => x.Subject)</h5>
                            <h6>
                                Gönderen: @Html.DisplayTextFor(x => x.Sender)
                                <span class="mailbox-read-time float-right">  @(((DateTime)Model.Date).ToString("dd-MMM-yyyy"))</span>
                            </h6>
                        </div>
                        <!-- /.mailbox-read-info -->
                        <div class="mailbox-controls with-border text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Sil">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Cevapla">
                                    <i class="fas fa-reply"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="İlet">
                                    <i class="fas fa-share"></i>
                                </button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Yazdır">
                                <i class="fas fa-print"></i>
                            </button>
                        </div>
                        <!-- /.mailbox-controls -->
                        <div class="mailbox-read-message">
                            <p>@Html.DisplayTextFor(x => x.Content)</p>


                        </div>
                        <!-- /.mailbox-read-message -->
                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Cevapla</button>
                            <button type="button" class="btn btn-default"><i class="fas fa-share"></i> İlet</button>
                        </div>
                        <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</button>
                        <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Yazdır</button>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
</section>
<!-- /.content -->
</div>
